Simplification of Verification algorithm and related JOSE header parameters

1. The Registration section of authorization.md states a service must either register a JWKS or a JWKS URL, i.e. one or the other. So, the optional jku header adds no value since the current Verification algorithm requires that the server first confirm the jku value matches the preregistered URL value. It seems to me that step 1 of Verification algorithm could be eliminated entirely and step 2 shortened, changing the "+" to "or", since only one of those two alternatives should apply.
1. If step 1 is retained, there is a typo in 1a (should be "is _not_ whitelisted")
1. (minor) the typ header is not needed, as only JWTs are allowed for the relevant request parameters and no type disambiguation is needed (ref: [RFC7519 section 5.1](https://tools.ietf.org/html/rfc7519#section-5.1))
1. (minor) consider rephrasing step 3 in the positive instead of the negative, i.e. select the keys where alg and kid match... (and changing "remaining" in the next step to match)


Sorry, this refers to the changes in pr #46, not the current master

Thanks for the close read!

For (1), I think it's a matter of opinion whether conveying a `jku` in-band adds value. Sometimes explicitly including these details makes behavior easier to understand/debug. To align with CDS Hooks we want to make `jku` an optional field, which means that if/when present, the server needs to make sure it's acceptable. I don't feel strongly, but we'd rather not introduce arbitrary differences from the CDS Hooks specification, if we can avoid it.

Fixed (2) in the PR, thanks!

For (3), same logic from (1) applies to. Agreed there's no ambiguity, but  adding `typ` only makes things more explicit (shouldn't hurt).

Updated to match your suggestions on (4), thanks.


I'm going to close this issue; please feel free to re-open, or comment on the existing open issues that #46 addresses if needed.