OpenId token in backend services auth profile

Grahame suggests we add language to indicate that if the client that is connecting to a server using back end services spec is acting on behalf of a human user, it should identify the user to the back end server with an openid token

This begins to cross the line between client authentication (which is what our current spec accomplishes) and user authorization.

Briefly, this is the difference between https://tools.ietf.org/html/rfc7523#section-3.1 and https://tools.ietf.org/html/rfc7523#section-3.2.

If the client is acting on behalf of a human user (and we want to continue following https://tools.ietf.org/html/rfc7523) then we'd recommend making a special/different request for these on-behalf-of-user cases:

* Use `grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer` instead of `grant_type=client_credentials`
* Add an `assertion=` parameter conveying the authorization JWT
* (And possibly, the avoid needing two JWTs in a single request: eliminate the client authentication from these on-behalf-of-user requests)

Now, if we were doing all of this, we might try to unify the "on behalf of a user" and "directly on behalf of the client" cases by always using authorization JWTs and eliminating the client credentials parameters altogether. This is a bigger change to consider, but now's the time, if we want to.

@grahamegrieve FYI

Agree with the bit up to the two JWTs? I think that it makes sense to authenticate the client and trust them about the user (as is done now). And I think that 'on behalf of a user' and 'directly on behalf of the client' are quite different use cases or I haven't understood them

Did I understand correctly though @grahamegrieve that you're asking to extend the scope of these backend services spec to accommodate this additional use case of "on behalf of"?

If we do expand scope in this way, my first point would be: we shouldn't just be adding a new claim to our current authentication JWT, because that's no longer a pure authentication use case. Does that make sense?

Instead, I'd probably recommend adjusting our current spec to use authorize JTWs across the board. This would have some other benefits/effects, like we might be able to eliminate the need for a sepaeate client_id altogether, in favor of using the issuer parameter to communicate "which client is issuing the request".


yes i think I'm asking for that, and I think I understand (and agree with) with your first point. I'm not sure of the other ramifications... I'd probably have to try and implement it. 


OK, thanks. Can you list a couple of use cases here, just to feed into our discussion on today's Argonaut call? (I think I have a good idea of use cases, but want to make sure I'm representing the full scope properly.)

well, three I've done before:
- user is doing pathology lookup, and the reports they are allowed to see is based on their user type (staff, STDs, research cancer markers). EHR is the authenticated client that makes the request; the lab system trusts the EHR's claim about who the user is and returns appropriate reports 
- user is logged into a web EHR viewer, and asks to view PACS images. EHR web server proxies the user requests so the user doesn't have to login to PACS. Web server reports user details to PACS for access control/audit information
- user is from another affiliated institution doing lookup against patient results. server EHR audits all access, including from the other institution. client EHR declares the user details so logging is detailed

I didn't use openID tokens in those - too long ago. but I would now...

and a current case: API server authenticates user, but FHIR resource server makes access decisions (question on zulip today)

Hmm. Some of these use cases really just feel like "Single Sign-on", not backend-services at all. In other words, why not just use a regular OIDC flow for the PACS/EHR SSO integration?

In any case, just to be explicit I've tried writing up my own example of a use case and proposed changes to the spec, so we can talk through it: https://github.com/smart-on-fhir/fhir-bulk-data-docs/pull/45 with changes view at  https://github.com/smart-on-fhir/fhir-bulk-data-docs/pull/45/files?short_path=92a5fbf#diff-92a5fbfd7cc9ebcc4989b65253f5bc01 and the full file at https://github.com/smart-on-fhir/fhir-bulk-data-docs/blob/29ff0202ebff9ec17944bf327976b0a4778163b8/authorization.md

Does this get at what you're looking for? Can you make sense of it?

I would reconsider representing both scenarios with an Authorization JWT. This breaks from the existing RFCs on this topic (see [RFC7521 Section 6.1-6.3](https://tools.ietf.org/html/rfc7521#section-6.1)) and creates a different meaning for this assertion grant type in this guide as compared to standards-based assertion-based authz and authn workflows which would make it difficult to support both.

Thansk @lcmaas. Can you explain a bit more about what you mean by "a different meaning for this assertion grant"? On my reading, a JWT authorization grant provides a client a clear way to say "Hey, I'm authorized to get a token on behalf of {User 123 | User 456 | Myself directly}".

sure... My read of RFC 7521-7523 is that when the JWT assertion grant type is used, the JWT says only: "Hey, 'iss' says the bearer of this JWT has been authorized to get a token by 'sub'" but (intentionally) doesn't try to say anything about who the bearer is. Authentication of the client is a separate matter and may not even be necessary (e.g. for public clients). It could be achieved using a client assertion but could also use other allowed methods. 

The proposal as I see it redefines the assertion grant type to mean "Hey, 'iss' says that the bearer of this JWT is 'iss' *-AND-* 'iss' has been authorized to get a token by 'sub'". Since 'iss' is appears to be restricted by the guide to be a URL that uniquely identify the app, this reduces to "Hey, Myself (the app) says the bearer of this token is Myself and Myself has been authorized to get a token by {User x | Myself}". To me, this substantially changes what the assertion means such that the JWT assertion grant type should no longer be used. 

[As an aside, using 'iss' as a form of client_id also generally precludes the ability to have a single token signing service for an HCO (token service in RFC7521-speak) for multiple apps operated by one HCO.
If you keep things separate and use the standard meaning for the two different JWT assertions and the iss claim (instead of binding iss values to a single app), you would have two assertions, e.g. (1) "Hospital says User 123 has authorized the Bearer of this authorization JWT to access data", and (2) "Hospital issued this Authentication Bearer JWT to Hospital's Pharmacy background data collection app". Different thoughts, different JWTs. I would think the "on behalf of itself" use case would be more common, in which case there is still only one JWT with grant_type = client_credentials, aligning with the existing RFCs.]

Yeah, using two JWTs is definitely the alternative here; in some ways it's very clean, and it's what I wrote up initially in https://github.com/smart-on-fhir/smart-on-fhir.github.io/wiki/cross-organizational-auth -- but the complexity and lack of adoption has given me pause about suggesting this approach again :-)

On the semantics, thanks for spelling out your concern in more detail! Re:
> "Hey, 'iss' says that the bearer of this JWT is 'iss' -AND- 'iss' has been authorized to get a token by 'sub'"

I could read my proposal a bit differently, as saying one of:

* "Hey, 'iss' says that the bearer of this JWT is authorized to act on behalf of `iss`'"
* "Hey, 'iss' says that the bearer of this JWT is authorized to act on behalf of `Practitioner 123`'"

Both of these, on my reading, are authorization grants (which are written down as JWTs with proper signatures, which is to say "authenticated). They can be presented without additional client authentication in a safe/secure way.

---

All this said, I'm still not 100% clear that I understand the use cases I'm solving for here. Leaving aside the details of whether my proposal is well-structured, I'd also like to understand whether it even addresses Grahame's needs in the first place. Broadly, are we expecting clients to create tokens that refer to user identities using client-specific identities, or using the server's identifier space?


the client will be using some identity established by an identity server somewhere; that might be itself (often is) or it might be some other server, including some public identity server. Or the server it's asking from - but that sounds like an unusual combination to me.  The client will pass whatever it has in the identity token, and then it's a business negotiation whether that's acceptable. 

"Pass whatever it has" may make it hard to establish expectations! I'm not sure how an identity token fits in here, exactly; are you expecting that a client would need to present an identity token issued by a third-party, or issued by itself? An identity token has an audience, and embedding an identity token into an authorization JWT raises questions about audience alignment (and it may be simpler just to fold any claims into the top-level token, issued by the client).

If the user logged in to the client through smart app launch, then what the client has is an openID token issued by the Authorization server, though that might be derived from elsewhere by the Authorization server. If the client is a authenticating the users against it's own user list, then it can create it's own ID token. 

I think there is 2 claims (= 2 jwts) here - the client system id and the client user id. I don't know why you'd fold one into the other...

What is the audience of the "client user id" claim/token? If it's something other than the EHR then it shouldn't be presented to the EHR... I think that's the point I'm trying to make.

I don't know whether you're asking about the "aud" property, or a general question. Of course the EHR (server, I think you mean, since either could be EHR) is the 'audience'. As to the "aud" property - I don't see why an openID token is so restricted

It's important, when verifying an openid connect token, to ensure that the token was meant for you to consume (i.e. that you're the intended audience -- which is how the aud parameter is used). A middleware service shouldn't generally be passing tokens minted for the itself along to other parties.

Why not? Isn't the same as saying, there's no distributed trust here? I agree it shouldn't spread them around, but I don't understand why it shouldn't be able to distribute trust at all

We'd just need to be very clear about the requirements for verification, since we're straying from the territory for which OIDC is designed. For example, if we have EHR1, Middleware, and EHR2 as three independent actors, and Middleware would be passing along tokens with Iss=EHR1,Aud=Middleware, then we'd probably want to require EHR2 to record (at the time Middleware is registered as an EHR2 client) the OIDC audience by which EHR1 knows Middleware. This would allow runtime validation, which I think is is probably a requirement if we want this kind of distributed trust. It's complicated.

I'd prefer to leave the acronym "EHR" out of the picture, since it might be one of a variety of players. We have the client and server, with a secured channel between them using backend services. The client is acting on behalf of a user, that is authenticated by an identity server that may be one of (the client, the server, another server). I'm assuming that the identity server will be an oidc server in the sense the client has an oidc jwt for the user. 

So: yes, it makes sense that the server can verify the token. That's the point, really, that the client presents a user token that can be verified. So there may be some registration requirements to allow for that - sure. And probably the server might need it's own agreements with the identity server to actually do the verification. But if we can standardise on an OIDC jwt, and how that's done, then the server gets a potentially verifiable token, and we have a standard way to do things...

When you say "standardise on an OIDC jwt" do you mean something that would be embedded inside of a client-generated authorization JWT?

I don't have any strong feeling about where, but I do think that the client will have one system jwt from the back end services and use with a set of oidc jwts for different users concurrently


OK. So from discussion so far, I'm thinking:

1. Per @grahamegrieve and @lcmaas both (I think), we're comfortable keeping the Authentication JWT as-is, and adding additional tokens alongside it to handle additional use cases (in which case some use cases will require clients to generate and present multiple JWTs in a single access token request).

2. We'll need to pick out some very specific use cases to sketch out what an authorization JWT and/or additional OIDC token presentation would look like.

2a. For the "EHR looks things up in a pathology database," can we get more specific about user accounts and properties? Would we want the EHR to be passing claims directly: like, "Current user is a clinician", and/or by reference to a FHIR representation of a user resource, like Practitioner... and/or something else? Once we have answers, we can sketch this out. (We may not be able to maintain strict compatibility with https://tools.ietf.org/html/rfc7523#section-3.1, especially if we need to pass claims directly.)

2b. I'd prefer to avoid the "web EHR viewer, and asks to view PACS images" use case, because this sounds like classic SSO to me, and should be well-covered by a standard OIDC flow (unless, Grahame, you can explain why not).  

2c. This sounds pretty much just like the (failed/delayed) "Argonaut Use Case 5"; would be good to get your feedback @grahamegrieve about whether layering in something like the Authorization Token format in https://github.com/smart-on-fhir/smart-on-fhir.github.io/wiki/cross-organizational-auth#453-authorization-token provides what you're looking for. This could possibly apply to 2a, as well...

Updated https://github.com/smart-on-fhir/fhir-bulk-data-docs/pull/45/files by refactoring back into two tokens, and separated the on-behalf-of stuff into its own page. Thoughts @grahamegrieve  @lcmaas  ?

@jmandel is there any reason in the "on behalf of" use case to include the authentication JWT?  Since the authorization JWT is (in this specification) being signed by the client, there doesn't seem to be a security reason as to why an authentication JWT also needs to be included.

Some possible reasons @whitehatguy:

1. Allow for the possiblity that the Authorization JWT and Authentication JTW could (in some circumstances) come from different issuers 

2. Avoid squishing authz/authn semantics (I am personally ambivalent on this but @lmaas raised it as a concern)

3. Reuse (i.e., layer on top of) the infrastructure from the simpler use case.

(If you look at the discussion + commit history here I have gone back and forth, so I obviously don't feel too strongly.)

Given this sentence, I assumed that #1 on your list wasn't possible:

> The Authorization JWT MUST be digitally signed by the client using the same approach as for the Authentication JWT (as described in [Backend Services](./authorization.md)).

RFC 7523 made them separate for reason #2 in your list, but it's already been "squished" if you require the authorization JWT to be issued by the client application.  You'd have to allow the JWT to be issued by a separate issuer (a secondary, external authorization server of some form) to allow the concerns to be separated.


Yeah, I should relax the description and say "... or signed by another issuer that the server allows", which makes 1 and 2 more justified -- though to be clear, I don't expect this will be the common case.

I expect it to be a common case - in distrubuted systems where the client
itself delegates authz/authn that would arise naturally, no?

On Tue, Jun 19, 2018 at 2:05 AM Josh Mandel <notifications@github.com>
wrote:

> Yeah, I should relax the description and say "... or signed by another
> issuer that the server allows", which makes 1 and 2 more justified --
> though to be clear, I don't expect this will be the common case.
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/smart-on-fhir/fhir-bulk-data-docs/issues/44#issuecomment-398106826>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AFllFVp1Gp-NNRAFSLGZ5H9f3VqYzSsyks5t98-_gaJpZM4UmhW1>
> .
>


-- 
-----
http://www.healthintersections.com.au / grahame@healthintersections.com.au
/ +61 411 867 065


Could be! My take right now is that a normal SSO flow works better for most user-facing apps (i.e. if there's a user at the "keyboard", we usually don't want to rely on Backend Services auth).

it might work better, but given that the whole industry currently works on
back-end trusted connection, I think there's going to plenty of people not
using SSO

On Tue, Jun 19, 2018 at 7:45 PM Josh Mandel <notifications@github.com>
wrote:

> Could be! My take right now is that a normal SSO flow works better for
> most user-facing apps (i.e. if there's a user at the "keyboard", we usually
> don't want to rely on Backend Services auth).
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/smart-on-fhir/fhir-bulk-data-docs/issues/44#issuecomment-398340680>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AFllFbdCUx0Eji4ZBvGIj7-Y5-0b7QGaks5t-MgmgaJpZM4UmhW1>
> .
>


-- 
-----
http://www.healthintersections.com.au / grahame@healthintersections.com.au
/ +61 411 867 065


Sure -- are you happy with how this PR is taking shape?

(Overall I think we'll need a lot more specificity to be useful/Interoperable/secure, but I'm hesitant to provide too much of that for the "on behalf of" module until we get some experience with it.)

I think so. I won't really know until I implement it...



On Tue, Jun 19, 2018 at 8:26 PM Josh Mandel <notifications@github.com>
wrote:

> Sure -- are you happy with how this PR is taking shape?
>
> (Overall I think we'll need a lot more specificity to be
> useful/Interoperable/secure, but I'm hesitant to provide too much of that
> for the "on behalf of" module until we get some experience with it.)
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/smart-on-fhir/fhir-bulk-data-docs/issues/44#issuecomment-398351648>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AFllFWRJXFX0T6VUDaP0EsCtsUGi3u_Sks5t-NG6gaJpZM4UmhW1>
> .
>


-- 
-----
http://www.healthintersections.com.au / grahame@healthintersections.com.au
/ +61 411 867 065


Based on the lengthy discussion above, I'm extracting this feature request from the bulk data spec today and making an experimental draft for comments at https://github.com/smart-on-fhir/smart-on-fhir.github.io/blob/master/authorization/on-behalf-of/index.md. It's important, and it's not a 1.0 requirement for Backend Services.

I will close this issue + my PR. Looking forward to discussion on Zulip!